*{
        margin: 0;
        padding: 0;
}

ul,li{
        list-style: none;
}

.box{
        width: 1133px;
        height: 4270px;
        margin: 0 auto;
        background: white;
        padding-top: 10px;
        position: relative;
}

#logo{
        display: block;
        width: 150px;
        height: 65px;
        position: absolute;
        left: 70px;
        top: 5px;
        z-index: 999;
}

.nav{
        height: 60px;
        background: dodgerblue;
        padding-left: 220px;
        position: relative;
}

.nav .navbar{
        width: 600px;
        height: 100%;
        float: left;
}

.nav .navbar li{
        float: left;
        margin: 0 10px;
}

.nav .navbar li:nth-child(4){
        margin: 0 30px;
}

.nav .navbar li a{
        text-decoration: none;
        color: white;
        line-height: 60px;
        font-size: 18px;
}

.nav .navbar li a:hover{
        font-weight: bolder;
}

.nav form{
        float: right;
        width: 255px;
        height: 32px;
        background: white;
        position: absolute;
        right: 65px;
        top: 15px;
}

.nav form input[type="text"]{
        display: block;
        width: 220px;
        height: 30px;
        float: left;
        background: none;
        border: none;
        outline: none;
}

.nav form input[type="submit"]{
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        border: none;
        background: url("../img/zhly/search.png") no-repeat center center;
        background-size: cover;
}

.big{
        width: 100%;
        height: 445px;
        background: white;
        padding-top: 15px;
        position: relative;
}

.big img{
        display: block;
        margin: 0 auto;
}

.big p{
        width: 975px;
        height: 90px;
        background: black;
        opacity: 0.7;
        font-size: 18px;
        color: white;
        position: absolute;
        bottom: 15px;
        left: 67px;
        line-height: 80px;
        padding-left: 25px;
}

.content{
        width: 100%;
        height: 1000px;
}

.content .con-left{
        width: 660px;
        margin-left: 66px;
        float: left;
}

.content .con-right{
        width: 300px;
        height: 900px;
        margin-right: 66px;
        float: right;
}

.titlebox{
        width: 100%;
        height: 30px;
        border-bottom: 1px solid gray;
}

.tb1{
        background: url("../img/zhly/css_sprites.png") no-repeat bottom -60px left;
}

.postbox{
        width: 100%;
        height: 200px;
        border-bottom: 2px dotted gray;
        position: relative;
}

.postbox img{
        display: block;
        width: 200px;
        height: 150px;
        position: absolute;
        top: 25px;
        left: 20px;
}

.postbox .post{
        width: 400px;
        height: 150px;
        position: absolute;
        top: 25px;
        right: 20px;
        text-align: left;
}

.postbox .post a{
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: royalblue;
        margin-top: 15px;
        margin-bottom: 20px;
}

.postbox .post .postp1 {
        text-align: left;
        font-size: 12px;
        text-indent: 2em;
        margin-bottom: 20px;
}

.postbox .post .postp2{
        font-size: 12px;
        text-align: left;
        color: orange;
        padding-top: 10px;
}

.post .postp2 span{
        color: black;
        float: right;
}

.con-right .wlmy{
        width: 100%;
        height: 470px;
        position: relative;
}

.tb2{
        background: url("../img/zhly/css_sprites.png") no-repeat  bottom -25px left;
        margin-bottom: 15px;
}

.wlmy img{
        display: block;
        width: 300px;
        height: 180px;
}

.wlmy p{
        width: 300px;
        height: 30px;
        background: rgba(0,0,0,0.5);
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: 196px;
}

.wlmy ul{
        height: 230px;
        margin: 7px auto;
        padding-left: 12px;
}

.wlmy ul li{
        margin-bottom: 10px;
        list-style: disc;
        list-style-position: inside;
}

.wlmy ul li a{
        text-decoration: none;
        font-size: 14px;
        color: black;
}

.wlmy ul li a:hover{
        color: blue;
}

.sj{
        width: 300px;
        height: 380px;
}

.sj .tb3{
        background: url("../img/zhly/tr-title3.png") no-repeat left center;
}

.sj img{
        display: block;
        width: 300px;
        height: 300px;
        margin-top: 15px;
}

.bzbk{
        width: 300px;
        height: 250px;
        background: white;
        position: relative;
}

.bzbk .tb4{
        background: url("../img/zhly/css_sprites.png") no-repeat left bottom 5px;
        margin-bottom: 15px;
}

.bzbk img{
        display: block;
        width: 300px;
        height: 180px;
}

.bzbk p{
        width: 290px;
        height: 30px;
        background: rgba(0,0,0,0.5);
        color: white;
        position: absolute;
        top: 196px;
        line-height: 30px;
        font-size: 14px;
        padding-left: 10px;
}

.tb5{
        background: url("../img/zhly/css_sprites.png") no-repeat left -100px top -100px;
        margin-bottom: 15px;
}

.tb6{
        background: url("../img/zhly/css_sprites.png") no-repeat left -100px top -70px;
        margin-bottom: 15px;
}

.jczt{
        width: 300px;
        height: 260px;
}

.tb7{
        background: url("../img/zhly/css_sprites.png") no-repeat left -100px top -130px;
        margin-bottom: 15px;
}

.jczt .twopic{
        width: 300px;
        height: 200px;
}

.jczt .twopic .left,.jczt .twopic .right{
        width: 145px;
        height: 200px;
        text-align: center;
}

.twopic .left{
        float: left;
}

.twopic .right{
        float: right;
}

.twopic a{
        text-decoration: none;
        color: black;
        font-size: 14px;
}

.twopic a:hover{
        color: blue;
}

.tbch{
        width: 300px;
        height: 370px;
}

.tb8{
        background: url("../img/zhly/css_sprites.png") no-repeat left bottom -90px;
        margin-bottom: 15px;
}

.tbch ul{
        width: 300px;
        height: 95px;
        margin-top: 15px;
}

.tbch ul li{
        float: left;
}

.tbch ul li:last-child{
        float: right;
}

.tbch ul li:nth-child(2){
        margin-left: 9px;
}

.tbch ul li img{
        display: block;
}

.hydt{
        width: 300px;
        height: 390px;
        background: palegreen;
}